/* enable smooth/fluid scrolling in html element */
html {
	scroll-behavior: smooth;
}

/* Declared global custom properties, for -(-used for easy maintenace, ease of updates etc-) */
:root {
/* Global & Variable declarations for custom (colors) */
	--color-primary: #d73953;
	--color-black: #090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--text-color: var(--color-black);
}

/* Global declarations for body, anchor and the other two classes */
body, a{
    color: var(--text-color);
}

.visually-hidden{
    display: none;
}

.card-category, .section-tagline {
    color: var(--color-primary);
}