/* enable smooth/fluid scrolling in html element */
html {
	scroll-behavior: smooth;
}

/* Declared global custom properties, for -(-used for easy maintenace, ease of updates etc-) */
:root {
	/* Global & Variable declarations for custom (colors) */
	--color-primary: #d73953;
	--color-black: #090909;
	--color-white: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-dark-grey: #353535;
	--text-color: var(--color-black);

	/* Global & Variable declarations for custom (fonts-type) */
	--font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-fanily-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Global declarations for (body, anchor and the other two classes) */
body {
    color: var(--text-color);
	font-family: var(--font-family-base);
}

a {
	color: var(--text-color);
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary);
}

.section-tagline {
    color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-fanily-title);
}